.createGrade {
  padding: 3rem;
  margin-bottom: 1.5rem;
}

.formInput {
  /* margin-right: 1rem; */
  /* margin-bottom: 0.9rem; */
}
.chipItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.chipItem {
  margin: 0.3rem 0.3rem;
}
.sectionForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
}
.errorDiv {
  background-color: palevioletred;
  text-align: center;
  color: white;
  padding: 0.35rem;
  margin: 0.7rem 0;
}
.successDiv {
  background-color: #4bb543;
  text-align: center;
  color: white;
  padding: 0.35rem;
  margin: 0.7rem 0;
}
.formLoading {
  text-align: center;

  padding: 0.35rem;
  margin: 0.7rem 0;
}
